In [32]:
num_to_word = {
    0: '',
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
    6: 'six',
    7: 'seven',
    8: 'eight',
    9: 'nine',
    10: 'ten',
    11: 'eleven',
    12: 'twelve',
    13: 'thirteen',
    14: 'fourteen',
    15: 'fifteen',
    16: 'sixteen',
    17: 'seventeen',
    18: 'eighteen',
    19: 'nineteen',
    20: 'twenty',
    30: 'thirty',
    40: 'forty',
    50: 'fifty',
    60: 'sixty',
    70: 'seventy',
    80: 'eighty',
    90: 'ninety',
    1000: 'thousand',
    1000000: 'million',
    1000000000: 'biliion',
    1000000000000: 'trillion'
}

In [33]:
below_100 = {
    2: 'twenty',
    3: 'thirty',
    4: 'forty',
    5: 'fifty',
    6: 'sixty',
    7: 'seventy',
    8: 'eighty',
    9: 'ninety'
}

In [34]:
above_100 = {
    1: 'thousand',
    2: 'million',
    3: 'biliion',
    4: 'trillion'
}

In [35]:
def num_to_word(num):
    num_digit = len(str(num))
    power = (num_digit - 1) // 3
    if num < 20:
        return below_20[num]
    elif num < 100:
        return ' '.join([below_100[num // 10], num_to_word(num % 10)])
    elif num < 1000:
        return ' '.join([num_to_word(num // 100), 'hundred', num_to_word(num % 100)])
    elif power < 5:
        return ' '.join([num_to_word(num // 1000 ** power), above_100[power], num_to_word(num % 1000 ** power)])
    else:
        return None

In [36]:
for i in range(983123452346781, 983123452346789):
    value = num_to_word(i)
    print(i, value)

983123452346781 nine hundred eighty three trillion one hundred twenty three biliion four hundred fifty two million three hundred forty six thousand seven hundred eighty one
983123452346782 nine hundred eighty three trillion one hundred twenty three biliion four hundred fifty two million three hundred forty six thousand seven hundred eighty two
983123452346783 nine hundred eighty three trillion one hundred twenty three biliion four hundred fifty two million three hundred forty six thousand seven hundred eighty three
983123452346784 nine hundred eighty three trillion one hundred twenty three biliion four hundred fifty two million three hundred forty six thousand seven hundred eighty four
983123452346785 nine hundred eighty three trillion one hundred twenty three biliion four hundred fifty two million three hundred forty six thousand seven hundred eighty five
983123452346786 nine hundred eighty three trillion one hundred twenty three biliion four hundred fifty two million three hundred forty six thousand seven hundred eighty six
983123452346787 nine hundred eighty three trillion one hundred twenty three biliion four hundred fifty two million three hundred forty six thousand seven hundred eighty seven
983123452346788 nine hundred eighty three trillion one hundred twenty three biliion four hundred fifty two million three hundred forty six thousand seven hundred eighty eight