In [13]:
for item in data.keys():
    print(item, num2words(item))

0 zero
1 one
2 two
3 three
4 four
5 five
6 six
7 seven
8 eight
9 nine
10 ten
11 eleven
12 twelve
13 thirteen
14 fourteen
15 fifteen
16 sixteen
17 seventeen
18 eighteen
19 nineteen
20 twenty
30 thirty
40 forty
50 fifty
60 sixty
70 seventy
80 eighty
90 ninety
100 one hundred
1000 one thousand
1000000 one million
1000000000 one billion
1000000000000 one trillion

In [14]:
amount = 69543521.11

In [15]:
str(amount).split('.')[-1]

'11'

In [16]:
for i in range(99):
    if i in data.keys():
        print(i, data[i])
    else:

0
1 one
2 two
3 three
4 four
5 five
6 six
7 seven
8 eight
9 nine
10 ten
11 eleven
12 twelve
13 thirteen
14 fourteen
15 fifteen
16 sixteen
17 seventeen
18 eighteen
19 nineteen
20 twenty
30 thirty
40 forty
50 fifty
60 sixty
70 seventy
80 eighty
90 ninety

In [ ]:
21 // 10 * 10

20