In [1]:
one = {
    0: '',
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
    6: 'six',
    7: 'seven',
    8: 'eight',
    9: 'nine',
    10: 'ten',
    11: 'eleven',
    12: 'twelve',
    13: 'thirteen',
    14: 'fourteen',
    15: 'fifteen',
    16: 'sixteen',
    17: 'seventeen',
    18: 'eighteen',
    19: 'nineteen'
}

In [2]:
ten = {
    0: '',
    2: 'twenty',
    3: 'thirty',
    4: 'forty',
    5: 'fifty',
    6: 'sixty',
    7: 'seventy',
    8: 'eighty',
    9: 'ninety'
}

In [3]:
power = {
    2: 'hundred',
    3: 'thousand',
    6: 'million',
    9: 'biliion',
    12: 'trillion'
}

In [4]:
for num in range(0, 1000, 7):
    if num == 0:
        print(num, 'zero')
        continue
    if num < 20:
        print(num, one[num])
        continue
    if num < 100:
        print(num, ten[num // 10], one[num % 10])
        continue
    if num < 1000:
        if num % 100 < 20:
            print(num, one[num // 100], 'hundred', one[num % 100])
        else:
            print(num, one[num // 100], 'hundred', ten[num % 100 // 10], one[num % 100 % 10])
        continue

0 zero
7 seven
14 fourteen
21 twenty one
28 twenty eight
35 thirty five
42 forty two
49 forty nine
56 fifty six
63 sixty three
70 seventy
77 seventy seven
84 eighty four
91 ninety one
98 ninety eight
105 one hundred five
112 one hundred twelve
119 one hundred nineteen
126 one hundred twenty six
133 one hundred thirty three
140 one hundred forty
147 one hundred forty seven
154 one hundred fifty four
161 one hundred sixty one
168 one hundred sixty eight
175 one hundred seventy five
182 one hundred eighty two
189 one hundred eighty nine
196 one hundred ninety six
203 two hundred three
210 two hundred ten
217 two hundred seventeen
224 two hundred twenty four
231 two hundred thirty one
238 two hundred thirty eight
245 two hundred forty five
252 two hundred fifty two
259 two hundred fifty nine
266 two hundred sixty six
273 two hundred seventy three
280 two hundred eighty
287 two hundred eighty seven
294 two hundred ninety four
301 three hundred one
308 three hundred eight
315 three hundred fifteen
322 three hundred twenty two
329 three hundred twenty nine
336 three hundred thirty six
343 three hundred forty three
350 three hundred fifty
357 three hundred fifty seven
364 three hundred sixty four
371 three hundred seventy one
378 three hundred seventy eight
385 three hundred eighty five
392 three hundred ninety two
399 three hundred ninety nine
406 four hundred six
413 four hundred thirteen
420 four hundred twenty
427 four hundred twenty seven
434 four hundred thirty four
441 four hundred forty one
448 four hundred forty eight
455 four hundred fifty five
462 four hundred sixty two
469 four hundred sixty nine
476 four hundred seventy six
483 four hundred eighty three
490 four hundred ninety
497 four hundred ninety seven
504 five hundred four
511 five hundred eleven
518 five hundred eighteen
525 five hundred twenty five
532 five hundred thirty two
539 five hundred thirty nine
546 five hundred forty six
553 five hundred fifty three
560 five hundred sixty
567 five hundred sixty seven
574 five hundred seventy four
581 five hundred eighty one
588 five hundred eighty eight
595 five hundred ninety five
602 six hundred two
609 six hundred nine
616 six hundred sixteen
623 six hundred twenty three
630 six hundred thirty
637 six hundred thirty seven
644 six hundred forty four
651 six hundred fifty one
658 six hundred fifty eight
665 six hundred sixty five
672 six hundred seventy two
679 six hundred seventy nine
686 six hundred eighty six
693 six hundred ninety three
700 seven hundred
707 seven hundred seven
714 seven hundred fourteen
721 seven hundred twenty one
728 seven hundred twenty eight
735 seven hundred thirty five
742 seven hundred forty two
749 seven hundred forty nine
756 seven hundred fifty six
763 seven hundred sixty three
770 seven hundred seventy
777 seven hundred seventy seven
784 seven hundred eighty four
791 seven hundred ninety one
798 seven hundred ninety eight
805 eight hundred five
812 eight hundred twelve
819 eight hundred nineteen
826 eight hundred twenty six
833 eight hundred thirty three
840 eight hundred forty
847 eight hundred forty seven
854 eight hundred fifty four
861 eight hundred sixty one
868 eight hundred sixty eight
875 eight hundred seventy five
882 eight hundred eighty two
889 eight hundred eighty nine
896 eight hundred ninety six
903 nine hundred three
910 nine hundred ten
917 nine hundred seventeen
924 nine hundred twenty four
931 nine hundred thirty one
938 nine hundred thirty eight
945 nine hundred forty five
952 nine hundred fifty two
959 nine hundred fifty nine
966 nine hundred sixty six
973 nine hundred seventy three
980 nine hundred eighty
987 nine hundred eighty seven
994 nine hundred ninety four